<div #totop id="top"></div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-blockUI [blocked]="blocked"></p-blockUI>

<div class="loading-indicator" *ngIf="blocked">
    <p-progressSpinner></p-progressSpinner>
</div>

<p-card header="List of Country">
    <p-orderList [value]="countrys" [listStyle]="{'height':'500px'}" filterBy="name"
        filterPlaceholder="Search country..." dragdrop="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div class="image-container">
                    <img src="{{country.flag}}" [alt]="country.name" class="country-image" />
                </div>
                <div class="country-list-detail">
                    <p class="p-mb-2" style="color: cornflowerblue;"><b>{{country.name}}</b> ({{country.alpha2Code}})
                    </p>
                    <p class="p-mb-2"><b *ngIf="country.capital">{{country.capital}},</b> {{country.subregion}}</p>
                </div>
                <div class="country-list-action">
                    <p class="p-mb-2" style="font-size: 10px;">Population</p>
                    <p style="font-weight: bold;">{{country.population | number : '1.0-0'}}</p>
                </div>
            </div>
        </ng-template>
    </p-orderList>
</p-card>